<!-- FOOTER -->
<div class="footerDiv">
  <p class="footerCopyright"><span class="copyrightAndYear">Copyright &copy; 2018 by</span> <img src="../../assets/images/indoorCopyright120x30-grey.png"/></p>
  <br>
  <a routerLink="/" class="footerLink">Pocetna <span class="whiteDot">&bull;</span></a>
  <a routerLink="/kuhinje" class="footerLink">Kuhinje <span class="whiteDot">&bull;</span></a>
  <a routerLink="/adaptacije" class="footerLink">Adaptacije <span class="whiteDot">&bull;</span></a>
  <a routerLink="/kontakt" class="footerLink">Kontakt <span class="whiteDot">&bull;</span></a>
  <a href="https://www.facebook.com/InDoor-246674172152061" class="footerLink" target="_blank">Facebook stranica</a>
  <p class="codedBy">Coded by <span class="authorName">Nikola Jovanovic</span></p>
</div>
